.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 12px 24px;
  background-color: white;
  border-bottom: 1px solid #f2f4f5;
}

.title {
  font-size: 28px;
}

.date {
  font-size: 16px;
}
