.slider {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.arrow {
  padding: 5px;
  border: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

.dark {
  background-color: #23272f;
  border-bottom: 1px solid rgb(60, 60, 60);
  color: white;
}

.light {
  background-color: white;
  color: black;
}
