.slider {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.arrow {
  padding: 5px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
